<div class="board">
<div class="column-of-tasks">
    <div class="column-of-tasks-header">
        <div class="column-icon">
            <fa-icon [icon]="columnsOfTasks[0].icon"></fa-icon>
        </div>
        <h2>{{columnsOfTasks[0].title}}</h2>
        <p>{{taskCardsToDo.length}}</p>
        <button (click)="createTaskCardInToDo()" ><fa-icon [icon]="addTaskCard"></fa-icon></button>
    </div>
    <div class="tasks example-list" 
    cdkDropList
    [cdkDropListData]="taskCardsToDo"
    
    >
        <app-task-card class="example-box" [taskCards]="taskCardsToDo" *ngFor="let card of taskCardsToDo; let idx = index"
        [index]="idx"
        
        > </app-task-card>
        
    </div>
</div>
<div class="column-of-tasks">
    <div class="column-of-tasks-header">
        <div class="column-icon">
            <fa-icon [icon]="columnsOfTasks[1].icon"></fa-icon>
        </div>
        <h2>{{columnsOfTasks[1].title}}</h2>
        <p>{{taskCardsInProgress.length}}</p>
        <button (click)="createTaskCardInProgress()" ><fa-icon [icon]="addTaskCard"></fa-icon></button>
    </div>
    <div class="tasks example-list"
    cdkDropList
    [cdkDropListData]="taskCardsInProgress"
    >
        <app-task-card class="example-box" [taskCards]="taskCardsInProgress" *ngFor="let card of taskCardsInProgress; let idx = index"
        [index]="idx"
        
        > </app-task-card>
        
    </div>
</div>

<div class="column-of-tasks">
    <div class="column-of-tasks-header">
        <div class="column-icon">
            <fa-icon [icon]="columnsOfTasks[2].icon"></fa-icon>
        </div>
        <h2>{{columnsOfTasks[2].title}}</h2>
        <p>{{taskCardsInReady.length}}</p>
        <button (click)="createTaskCardInReady()" ><fa-icon [icon]="addTaskCard"></fa-icon></button>
    </div>
    <div class="tasks example-list"
    cdkDropList
    [cdkDropListData]="taskCardsInReady"
    >
        <app-task-card class="example-box" [taskCards]="taskCardsInReady" *ngFor="let card of taskCardsInReady; let idx = index"
        [index]="idx"
        
        > </app-task-card>
        
    </div>
</div>

</div>
<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)"  >
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>
