<div class="dashboard">
    <div class="boards">
    <div *ngIf="toggle; else board" class="board-card">
        <button (click)="toggleBoard()">
            <fa-icon [icon]="addBoard"></fa-icon>
        </button>
        <p>Add new board</p>
    </div>
    
        <app-board [boards]="boards" *ngFor="let board of boards; let idx = index" [index]="idx">
        </app-board>
    </div>
    <ng-template class="board-card-creating" #board>
        <div class="task-card-editor">
            <input placeholder="name" [(ngModel)]="boardTitle" type="text" />
            <textarea placeholder="description" [(ngModel)]="boardDescription" type="text"></textarea>
            <button (click)="createBoard()">
                done
            </button>
        </div>
    </ng-template>
</div>