<div *ngIf="toggle; else boardCard" class="board-card">
    <div class="main">
        <div class="title-box"> <span class="uniqId">#{{board.id}}</span>
            <h2 [routerLink]="['/boards',board.id]">{{board.title}}</h2>
        </div>
        <p class="description">{{board.description}}</p>
        <span>{{board.creationDate | date:'medium'}}</span>
    </div>
    <aside>
        <button (click)="toggleBoard()">
            <fa-icon [icon]="editBtn"></fa-icon>
        </button>
        <button>
            <fa-icon (click)="deleteBoard()" [icon]="deleteBtn"></fa-icon>
        </button>
    </aside>
</div>

<ng-template #boardCard>
    <div class="board-card-editor">
        <input [(ngModel)]="boardIn.title" type="text" />
        <textarea disabled="disabled" type="text"></textarea>
        <button (click)="toEditBoard(boardIn)">
            <fa-icon [icon]="done"></fa-icon>
        </button>
    </div>
</ng-template>